.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: blue;
    margin: auto 2rem;
}


.small{
    width: 4rem;
    height: 4rem;
}
.small span{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}
.large{
    width: 14rem;
    height: 14rem;
}
.large span{
    font-size: 9rem;
    color: white;
    font-weight: 500;
}
.opacity{
    filter:brightness(0.5);
}