.communities {
    padding: 2rem;
    width: 90%;
    margin: auto;

    border-radius: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(110deg, #ffffff50 0%, #ffffff1a 100%);
    backdrop-filter: blur(5px); */
    background-color: #380f63d1;
    box-shadow: 0px 4px 24px -1px #00000041;
}
.box-name{
    display: flex;
    width: 70%;
}

.link-unirme{
    position: relative;
    right: -10%;
}
.communities__header {
    display: flex;
    justify-content: space-between;
}

.communities__header h5 {
    color: #fff;
}

.communities__list {
    margin-top: 1rem;
}

.communities__list .list__header {
    background: #fff;
    padding: 0.5rem;
    font-weight: 500;
}

.list__body--group {
    display: flex;
    padding: 0.5rem;
    margin-top: 1rem;
    background: #fff;
}

.list__body--group img {
    height: 2rem;
}
.communities__header a{
  color:#fff;
  font-weight: 700;
}
.communities__header a:hover{
  font-weight: 800;
      color:#fff;
}

@media screen and (min-width: 769px) {
    .communities__header  h5{
    color: #fff;
    font-size: 1.5rem;
  }
}